*{
    margin: 0px;
    padding: 0px;
}
    
    body.container_own {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: $fondo-amantes;
        font-family: $tipo-amantes1;

        .btn-trs{
            font-family: $tipo-amantes1;
            color: $verde-amantes;
            text-decoration: none;

            &:hover {
                color: darken($verde-amantes, 20%);
                text-decoration: underline;
            }
        }
      }

