.nosotros {
    @extend %flextend;
    margin-bottom: 2em;
    margin-top: 1em;

    .imgn_nstrs {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
        img {
            width: 100%;
        }

    }
    .txt_nstrs {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
        padding-left: 5%;


        h1 {
            display: block;
            width: 100%;
            font-size: 1em;
        }
        h2 {
            display: block;
            font-size: 0.8em;
        }
        p {
            display: block;
            font-size: .5em;
        }
    }
}