.row {
  margin-bottom: 1.5em;
    
  .col {
    
    .card_own {
      background-color: darken($fondo-amantes, 10%);
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: none;
      border-radius: 0.25rem;

        h2 {
          font-size: 1.2em;
          text-decoration: underline;
        }
      }
  }
}
